In [1]:
import pandas as pd
import os
import re
import nltk

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sanne\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
south = pd.read_csv("South_Park/All-seasons.csv")
south.name = 'South Park'

south

,Season,Episode,Character,Line
0,10,1,Stan,"You guys, you guys! Chef is going away. \n"
1,10,1,Kyle,Going away? For how long?\n
2,10,1,Stan,Forever.\n
3,10,1,Chef,I'm sorry boys.\n
4,10,1,Stan,"Chef said he's been bored, so he joining a gro..."
...,...,...,...,...
70891,9,14,Stan,I think you're pushing it.\n
70892,9,14,Randy,How about twenty?\n
70893,9,14,Stan,That's not disciprine.\n
70894,9,14,Randy,Right right. Does vodka count?\n
70895,9,14,Stan,Dad!\n

In [3]:
got = pd.read_csv("Game_of_Thrones_Script/Game_of_Thrones_Script.csv")
got.name = 'Game of Thrones'

got

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011-04-17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011-04-17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.
...,...,...,...,...,...,...
23906,2019-05-19,Season 8,Episode 6,The Iron Throne,brienne,I think we can all agree that ships take prece...
23907,2019-05-19,Season 8,Episode 6,The Iron Throne,bronn,I think that's a very presumptuous statement.
23908,2019-05-19,Season 8,Episode 6,The Iron Throne,tyrion lannister,I once brought a jackass and a honeycomb into ...
23909,2019-05-19,Season 8,Episode 6,The Iron Throne,man,The Queen in the North!
23910,2019-05-19,Season 8,Episode 6,The Iron Throne,all,The Queen in the North! The Queen in the North...

In [4]:
data = []
for file in os.scandir("Friends/"):
    with open(file, encoding='utf8') as f:
        script = f.read()
        script = re.sub(r'\([^()]*\)', '', script)
        script = re.sub(r'\[[^()]*]', '', script)
        script = script.split("\n")[2:]

        for line in script:
            if line != '':
                if ':' in line:
                    data.append(line.lower().split(':', 1))

In [5]:
friends = pd.DataFrame(data, columns=["character","line"])
friends.name = "FRIENDS"

In [6]:
friends["line_tok"]  = friends["line"].apply(nltk.word_tokenize)

tok_count_fr = 0
for line in friends["line_tok"]:
    tok_count_fr += len(line)

friends.tok_count = tok_count_fr

In [7]:
south["line_tok"]  = south["Line"].apply(nltk.word_tokenize)

tok_count_so = 0
for line in south["line_tok"]:
    tok_count_so += len(line)

south.tok_count = tok_count_so

In [8]:
got["line_tok"]  = got["Sentence"].apply(nltk.word_tokenize)

tok_count_got = 0
for line in got["line_tok"]:
    tok_count_got += len(line)

got.tok_count = tok_count_got

In [9]:
south.Character.value_counts().head(20)

Cartman         9774
Stan            7680
Kyle            7099
Butters         2602
Randy           2467
Mr. Garrison    1002
Chef             917
Kenny            881
Sharon           862
Mr. Mackey       633
Gerald           626
Jimmy            597
Wendy            585
Liane            582
Sheila           566
Jimbo            556
Announcer        407
Stephen          357
Craig            326
Clyde            317
Name: Character, dtype: int64

In [10]:
got.Name.value_counts().head(20)

tyrion lannister      1760
jon snow              1133
daenerys targaryen    1048
cersei lannister      1005
jaime lannister        945
sansa stark            784
arya stark             783
davos                  528
theon greyjoy          455
petyr baelish          449
sam                    399
bran stark             399
bronn                  393
jorah mormont          381
man                    381
tywin lannister        381
varys                  371
brienne                370
eddard stark           347
robb stark             306
Name: Name, dtype: int64

In [11]:
friends.character.value_counts().head(20)

chandler       589
ross           512
joey           454
monica         439
rachel         425
phoebe         422
mike            31
all             29
story by        27
frank sr.       21
written by      19
directed by     19
tag             17
jade            17
janice          15
waiter          15
joanna          15
stephanie       13
mrs. geller     12
jill            11
Name: character, dtype: int64

In [12]:
print("FRIENDS has %s lines of dialogue made up out of %s tokens. The dialogue is spoken by %s different characters" % (friends.size, tok_count_fr, len(friends.character.value_counts())))
print("South Park has %s lines of dialogue made up out of %s tokens. The dialogue is spoken by %s different characters" % (south.size, tok_count_so, len(south.Character.value_counts())))
print("Game of Thrones has %s lines of dialogue made up out of %s tokens. The dialogue is spoken by %s different characters" % (got.size, tok_count_got, len(got.Name.value_counts())))

FRIENDS has 10569 lines of dialogue made up out of 44529 tokens. The dialogue is spoken by 175 different characters
South Park has 354480 lines of dialogue made up out of 1071788 tokens. The dialogue is spoken by 3950 different characters
Game of Thrones has 167377 lines of dialogue made up out of 356783 tokens. The dialogue is spoken by 564 different characters